{{ form_start(form) }}
<section class="section-padding">
    <div class="container">
        <div class="row">
            <h3 class="text-extrabold">Your personal informations</h3>

            {# gender #}
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="input-field">
                    {{ form_label(form.gender) }}
                    {{ form_widget(form.gender) }}
                </div>
            </div>

            <div class="clearfix visible-sm"></div>

            {# firstname #}
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="input-field">
                    {{ form_label(form.firstname) }}
                    {{ form_widget(form.firstname) }}
                </div>
            </div>

            {# lastname #}
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="input-field">
                    {{ form_label(form.lastname) }}
                    {{ form_widget(form.lastname) }}
                </div>
            </div>

            {# current_location #}
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="input-field">
                    {{ form_label(form.location) }}
                    {{ form_widget(form.location) }}
                </div>
            </div>

            {# Adress #}
            <div class="col-xs-12 col-sm-8">
                <div class="input-field">
                    {{ form_label(form.adress) }}
                    {{ form_widget(form.adress) }}
                </div>
            </div>

            <div class="row">

                {# profile picture #}
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="file-field input-field" style="margin-top: 32px;">

                        {# the true input #}
                        <div class="btn btn-lg primary waves-effect waves-light">
                            <span>
                                <i class="material-icons">insert_photo</i>
                                Photo
                            </span>
                            {{  form_widget(form.file_pp) }}
                        </div>

                        {# if un file est deja en DB affiche le name #}
                        <div class="existing-file">
                            <a href="#!" target="_blank">
                                <i class="material-icons">&#xE24D;</i>
                                {{ OriginalfilePpName }}
                            </a>
                        </div>
                        
                        {# affiche le file name #}
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload your ID photo" readonly>
                        </div>

                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-8">
                    <div class="row">

                        {# country #}
                        <div class="col-xs-12 col-sm-6">
                            <div class="input-field">
                                {{ form_label(form.country) }}
                                {{ form_widget(form.country) }}
                            </div>
                        </div>

                        {# nationality #}
                        <div class="col-xs-12 col-sm-6">
                            <div class="input-field">
                                {{ form_label(form.nationality) }}
                                {{ form_widget(form.nationality) }}
                            </div>
                        </div>

                        {# birth date #}
                        <div class="col-xs-12 col-sm-6">
                            <div class="input-field">
                                {{ form_label(form.birth_date) }}
                                {{ form_widget(form.birth_date) }}
                            </div>
                        </div>

                        {# birth place #}
                        <div class="col-xs-12 col-sm-6">
                            <div class="input-field">
                                {{ form_label(form.birth_location) }}
                                {{ form_widget(form.birth_location) }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row mt-40">
				<h3 class="text-extrabold">Your professional profile</h3>
				<div class="col-xs-12 col-sm-6">

					<div class="card card-panel passport">

						{# Passport #}
						<div class="file-field input-field">
							<div class="btn btn-lg primary waves-effect waves-light">
								<span>
									<i class="material-icons">&#xE24D;</i>
									Passport
								</span>								
								{{ form_widget(form.file_passport) }}
							</div>

							{% if candidate.getFilePassport() %}
							<div id="existing-file-passport" class="existing-file">
								<a href="{{ asset('uploads/passport/' ~ candidate.getFilePassport()) }}" target="_blank">
									<i class="material-icons">&#xE24D;</i>
									{{ OriginalfilePassportName }}
								</a>
							</div>
							{% endif %}

							<div class="file-path-wrapper">
								<input id="file-path-passport" class="file-path validate" type="text" placeholder="Upload your passport" readonly>
							</div>
						</div>

						{# CV #}
						<div class="file-field input-field">
							<div class="btn btn-lg primary waves-effect waves-light">
								<span>
									<i class="material-icons">&#xE24D;</i>
									CV
								</span>
								{{ form_widget(form.file_cv) }}
							</div>

							{% if candidate.getFileCv() %}
							<div id="existing-file-cv" class="existing-file">
								<a href="{{ asset('uploads/curriculum-vitae/' ~ candidate.getFileCv()) }}" target="_blank">
									<i class="material-icons">&#xE24D;</i>
									{{ OriginalfileCvName }}
								</a>
							</div>
							{% endif %}

							<div class="file-path-wrapper">
								<input id="file-path-cv" class="file-path validate" type="text" placeholder="Upload your Curriculum Vitae" readonly>
							</div>
						</div>

					</div>
				</div>

            {# experience #}
            {# job category #}
            <div class="col-xs-12 col-sm-6">

                {# job category #}
                <div class="col-xs-12 col-sm-12">
                    <div class="input-field" style="margin-top: 5px;">
                        {{ form_widget(form.category) }}
                        {{ form_label(form.category) }}
                        <label for="job_sector" class="active">Interest in job sector</label>
                    </div>
                </div>

                {# experience #}
                <div class="col-xs-12 col-sm-12">
                    <div class="input-field">
                        {{ form_widget(form.experience) }}
                        {{ form_label(form.experience) }}
                    </div>
                </div>
            </div>

            {# description #}
            <div class="col-xs-12 col-sm-12">
                <div class="input-field">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-padding gray-bg">
    <div class="container">
{#     
        <div class="row">
            <h3 class="text-extrabold">Your K-Yachting account</h3>

            <div class="col-xs-12 col-sm-4">
                <div class="input-field">
                    <input required="required" id="email" name="email" type="email" value="">
                    <label for="email">Email</label>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="input-field">
                    <input id="password" name="password" type="password" value="">
                    <label for="password">Change your password here</label>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="input-field">
                    <input id="password_repeat" name="password_repeat" type="password" value="">
                    <label for="password_repeat">Confirm your new password</label>
                </div>
            </div>
        </div> #}

        <div class="row">
            <div class="col-xs-12 mt-40 mb-80 delete-account">
                <a href="#!" onclick="return prompt('Please Type \'Delete my account\' to delete your K-Yachting Services account:') == 'Delete my account'" class="btn btn-block btn-lg waves-effect waves-light">
                    <i class="material-icons">&#xE872;</i>Delete my account</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="{{ path('app_home') }}" class="btn btn-block btn-lg border primary waves-effect waves-light">
                    <i class="fa fa-long-arrow-left"></i>
                    Back home</a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-4">
                <button type='submit' class="btn btn-block btn-lg gradient secondary waves-effect waves-light">
                    <span>
                        <strong>UPDATE</strong>
                        NOW</span>
                </button>
            </div>
        </div>

    </div>
</section>

{{ form_end(form) }}